@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

:root {
    --bgImage: url("assets/back_01.png");
}  

.title{
    color: white;
    margin: 0;

    font-family: "Cedarville Cursive", serif;
    font-weight: 800;
    font-style: normal;      
}

body{
    background-color: #292929;
    background-image: var(--bgImage);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(255, 255, 255);

    font-family: "Bai Jamjuree", serif;
    font-weight: 300;
    font-style: normal; 
    font-size: 16px;
    /* font-variant: all-small-caps; */
}

.block{
    color: white;
    /* background-color: #292929; */
    background-color: transparent;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 1.5%;
}

.top{
    background-color: #292929;
    background-image: var(--bgImage);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    size: 100% 150px;

    position: sticky;
    top: 0px;

    z-index: 1;
}

header{
    color: white;
    /* background-color: #292929; */
    background-color: transparent;

    position: sticky;
    top: 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 1.5%;

    z-index: 1;
}

button{
    font-family: "Bai Jamjuree", serif;
    font-weight: 300;
    font-style: normal; 
    font-size: 16px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.indexHeader{
    color: white;
    text-align: center;

    text-decoration: none;
}

.editButton{
    filter: invert(55%) sepia(0%) saturate(7%) hue-rotate(267deg) brightness(92%) contrast(97%);
    background-color: transparent;

    height: 20px; 

    border: none;

    margin-left: auto;

    font-family: "Bai Jamjuree", serif;
    font-weight: 300;
    font-style: normal; 
    font-size: 16px;
}

.svgButton{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(214deg) brightness(105%) contrast(102%); /*  https://codepen.io/sosuke/pen/Pjoqqp  */
    background-color: transparent;

    height: 30px; 
}

.linkButton{
    color: white;
    background-color: transparent;

    height: 20px; 

    border: none;

    margin-left: auto;

    font-family: "Bai Jamjuree", serif;
    font-weight: 300;
    font-style: normal; 
    font-size: 16px;

    z-index: 0;
}
/* .linkButton:hover{
    color: grey;
    background-color: transparent;
} */

.editButton:hover{
    filter: invert(55%) sepia(0%) saturate(7%) hue-rotate(267deg) brightness(92%) contrast(97%);
    background-color: transparent;
}

.svgButton:hover{
    filter: invert(55%) sepia(0%) saturate(7%) hue-rotate(267deg) brightness(92%) contrast(97%);
    background-color: transparent;
}

.tableHeader{
    /* background-color: #292929; */
    background-color: transparent;
    color: rgb(255, 255, 255);

    position: sticky;
    top: 60px;

    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin: 1%;
    padding: 10px;

    z-index: 1;
}

.row{
    /* background-color: #292929; */
    /* width: 95%; */
    background-color: transparent;

    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin: 1%;
    padding: 0px 0px 0px 10px;
}
.row:hover{
    color:gray;
    background-color: transparent;

    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin: 1%;
    padding: 0px 0px 0px 10px;
}

.column{
    width: 15%;
}

a.column{
    color: white;
    text-decoration: none;
}

a.column:hover{
    color: gray;
    text-decoration: none;
}

.headerItem{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(214deg) brightness(105%) contrast(102%); /*  https://codepen.io/sosuke/pen/Pjoqqp  */
    height: 30px;

    flex: none;
    flex-grow: 0;

    padding: 10px;
}

a.headerButton{
    color: white;
    background-color: transparent;

    text-decoration: none;
    border: none;

    font-family: "Bai Jamjuree", serif;
    font-weight: 300;
    font-style: normal; 
    font-size: 16px;
}

a.headerButton:hover{
    color: grey;
    background-color: transparent;

    border: none;
}

button.headerButton{
    color: white;
    background-color: transparent;

    text-decoration: none;
    border: none;

    font-family: "Bai Jamjuree", serif;
    font-weight: 300;
    font-style: normal; 
    font-size: 16px;
}

button.headerButton:hover{
    color: grey;
    background-color: transparent;

    border: none;
}

.filterButton{
    color: white;
    background-color: transparent;
    border-radius: 5px;
    border: none;

    margin-left: auto;
}

.filterButton:hover{
    color: grey;
}

.selector{
    color: white;
    background-color: #292929;
    border: none;
    -webkit-appearance:none;
}

.menu{
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

    padding: 12% 0 0 0;
}

/* The Modal (background) */
.modal{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: transparent; 
    backdrop-filter: blur(10px);
    /* background-color: rgba(0,0,0,0.4); */
}

/* Modal Content/Box */
.signInModal-content {
    color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    margin: 10% auto; 
    /* padding: 20px; */
}

/* The Close Button */
.close {
    color: #aaa;
    /* float: right; */
    /* font-size: 28px; */
    /* font-weight: bold; */
}

.close:hover,.close:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

.modalButton{
    color: #ffffff;
    background-color: transparent;
    border: none;
}

.modalButton:hover,.modalButton:focus {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

.infoBlock{
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoLinkButton:link{
    text-decoration: none;
}
.infoLinkButton:visited{
    color: #ffffff;
    text-decoration: none;
}
.infoLinkButton:hover{
    color: grey;
    text-decoration: none;
}

footer{
    display: flex;
    justify-content: space-between;

    position: fixed;
    left: 0;
    bottom: 5px;
    width: 100%;
    color: white;
    text-align: center;
}

.footerButton{
    color: rgb(135, 135, 135);
    background-color: transparent;
    margin: 10px;

    text-decoration: none;
    border: none;

    font-family: "Bai Jamjuree", serif;
    font-weight: 300;
    font-style: normal; 
    font-size: 16px;
}

.insertFormColumn{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.insertFormRow{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formButton{
    color: white;
    background-color: transparent;

    text-decoration: none;
    border: none;

    font-family: "Bai Jamjuree", serif;
    font-weight: 300;
    font-style: normal; 
    font-size: 16px;
}

.formButton:hover{
    color: grey;
    background-color: transparent;

    border: none;
}

.insertFormInput{
    color: white;
    background-color: rgba(140, 140, 140, 0.393);
    border-radius: 5px;
    border: none;
    text-align: center;
    width:150px;

    font-family: "Bai Jamjuree", serif;
    font-weight: 300;
    font-style: normal; 
    font-size: 16px;
}

hr.formSeparator{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    height: 2px;
    border: none;
}